{
    "swagger": "2.0",
    "info": {
        "title": "Evo Backend Server",
        "contact": {
            "name": "API Support",
            "url": "https://github.com/orgs/evolutionlandorg/discussions"
        },
        "license": {
            "name": "MIT"
        },
        "version": "1.0"
    },
    "host": "backend.evolution.land",
    "basePath": "/api",
    "paths": {
        "/apostle/info": {
            "get": {
                "tags": [
                    "apostle"
                ],
                "summary": "apostle info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "token id",
                        "name": "token_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.ApostleJson"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/apostle/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "apostle"
                ],
                "summary": "list apostle",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "row",
                        "name": "row",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "network district, polygon:5,crab:3,eth:1,heco:4,tron:2",
                        "name": "district",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by apostle status, default is ””, in (onsell,fertility,rent,bid,unclaimed,my,unbind,fresh,sire,reward,canWorking,mine,listing,employment)",
                        "name": "filter",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Whether to filter all lands. If it is empty, only filter my lands,default is 'all'",
                        "name": "display",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order field, default is 'token_index'",
                        "name": "order_field",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order, default is 'asc'",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "gender, male, female",
                        "name": "gender",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "search by apostle token id",
                        "name": "search_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "search by sire token id",
                        "name": "sire_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "has Guard,Saber or”",
                        "name": "occupational",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by attribute",
                        "name": "attribute",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "1 or 0",
                        "name": "genesis",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.ApostleJson"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/common/nft/metadata/{token_id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "common"
                ],
                "summary": "Get Apostle,Land,Drill,Material,Equipment,MirrorKitty NFT metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "token id",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "nft metadata",
                        "schema": {
                            "$ref": "#/definitions/models.NftMetaData"
                        }
                    },
                    "404": {
                        "description": "not found",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/common/time": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "common"
                ],
                "summary": "Time server time",
                "responses": {
                    "200": {
                        "description": "server time",
                        "schema": {
                            "type": "number"
                        }
                    }
                }
            }
        },
        "/equipment/info": {
            "get": {
                "tags": [
                    "equipment"
                ],
                "summary": "Get equipment info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "token_id",
                        "name": "token_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.EquipmentJson"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/equipment/list": {
            "get": {
                "tags": [
                    "equipment"
                ],
                "summary": "Get equipment list",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "row",
                        "name": "row",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "object",
                        "name": "object",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "order",
                        "name": "order",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Equipment"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/farm/apr": {
            "get": {
                "tags": [
                    "farm"
                ],
                "summary": "Get farm APR",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "addr",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/furnace/illustrated": {
            "get": {
                "tags": [
                    "furnace"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/util.Formula"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/furnace/prop": {
            "get": {
                "tags": [
                    "furnace"
                ],
                "summary": "Furnace Prop",
                "parameters": [
                    {
                        "type": "string",
                        "description": "token id",
                        "name": "token_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Drill"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/furnace/props": {
            "get": {
                "tags": [
                    "furnace"
                ],
                "summary": "List furnace props",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Drill"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/land": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "land"
                ],
                "summary": "Get land by token_id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "token_id",
                        "name": "token_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.LandDetailJson"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/land/rank": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "land"
                ],
                "summary": "List lands rank",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.LandRank"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/lands": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "land"
                ],
                "summary": "Get land list",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "row",
                        "name": "row",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Whether to filter all lands. If it is empty, only filter my lands,default is 'all'",
                        "name": "display",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "network district, polygon:5,crab:3,eth:1,heco:4,tron:2. default is 1",
                        "name": "district",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by land status, default is ””, in (unclaimed,bid,onsale,my,other,fresh,mine,gold_rush,availableDrill,genesis,secondhand,plo)",
                        "name": "filter",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order field, default is 'token_index'",
                        "name": "order_field",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order, default is 'desc'",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "search by token index",
                        "name": "search_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "search by owner address",
                        "name": "address",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.LandJson"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/snapshot": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "common"
                ],
                "summary": "list snapshot vote score",
                "parameters": [
                    {
                        "description": "options",
                        "name": "options",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.SnapshotReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/routes.GinJSON"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.SnapshotAsJson"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "models.ApostleJson": {
            "type": "object",
            "properties": {
                "apostle_picture": {
                    "type": "string"
                },
                "apostle_status": {
                    "type": "string"
                },
                "apostle_talent": {
                    "$ref": "#/definitions/models.ApostleTalentJson"
                },
                "bind_pet_count": {
                    "type": "integer"
                },
                "birth_fee": {
                    "type": "number"
                },
                "birth_time": {
                    "type": "integer"
                },
                "cold_down": {
                    "type": "integer"
                },
                "cold_down_end": {
                    "type": "integer"
                },
                "created_at": {
                    "type": "string"
                },
                "current_price": {
                    "type": "number"
                },
                "duration": {
                    "type": "integer"
                },
                "equipments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Equipment"
                    }
                },
                "gen": {
                    "type": "integer"
                },
                "gender": {
                    "type": "string"
                },
                "genes": {
                    "type": "string"
                },
                "haberger_mode": {
                    "type": "integer"
                },
                "has_bid": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer"
                },
                "in_adventure": {
                    "type": "boolean"
                },
                "introduction": {
                    "type": "string"
                },
                "is_alien": {
                    "type": "boolean"
                },
                "member_id": {
                    "type": "integer"
                },
                "mine_last_bid": {
                    "type": "boolean"
                },
                "mother": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "occupational": {
                    "type": "string"
                },
                "origin_id": {
                    "type": "integer"
                },
                "origin_owner": {
                    "type": "string"
                },
                "origin_owner_name": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "owner_name": {
                    "type": "string"
                },
                "pets": {
                    "$ref": "#/definitions/models.ApostlePetJson"
                },
                "system_sell": {
                    "type": "boolean"
                },
                "token": {
                    "$ref": "#/definitions/util.Token"
                },
                "token_id": {
                    "type": "string"
                },
                "token_index": {
                    "type": "integer"
                },
                "worker_end": {
                    "type": "integer"
                },
                "working_status": {
                    "type": "string"
                }
            }
        },
        "models.ApostleMiner": {
            "type": "object",
            "properties": {
                "apostle_id": {
                    "description": "models.Apostle.ID",
                    "type": "integer"
                },
                "apostle_name": {
                    "type": "string"
                },
                "apostle_picture": {
                    "type": "string"
                },
                "cold_down": {
                    "type": "integer"
                },
                "dig_element": {
                    "type": "string"
                },
                "gen": {
                    "type": "integer"
                },
                "owner": {
                    "type": "string"
                },
                "owner_name": {
                    "type": "string"
                },
                "pets": {
                    "$ref": "#/definitions/models.ApostlePetJson"
                },
                "strength": {
                    "type": "number"
                },
                "talent": {
                    "$ref": "#/definitions/models.ApostleTalentJson"
                },
                "token_id": {
                    "description": "models.Apostle.TokenId",
                    "type": "string"
                },
                "token_index": {
                    "type": "integer"
                }
            }
        },
        "models.ApostlePetJson": {
            "type": "object",
            "properties": {
                "apostle_id": {
                    "type": "integer"
                },
                "apostle_token_id": {
                    "type": "string"
                },
                "image_url": {
                    "type": "string"
                },
                "mirror_token_id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pet_type": {
                    "type": "string"
                },
                "token_id": {
                    "type": "string"
                }
            }
        },
        "models.ApostleSample": {
            "type": "object",
            "properties": {
                "apostle_picture": {
                    "type": "string"
                },
                "apostle_token_id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "slot": {
                    "type": "integer"
                }
            }
        },
        "models.ApostleTalentJson": {
            "type": "object",
            "properties": {
                "agile": {
                    "type": "integer"
                },
                "agile_add": {
                    "type": "integer"
                },
                "atk": {
                    "description": "pve value",
                    "type": "number"
                },
                "charm": {
                    "type": "integer"
                },
                "charm_add": {
                    "type": "integer"
                },
                "crit": {
                    "type": "number"
                },
                "def": {
                    "type": "number"
                },
                "element_fire": {
                    "type": "integer"
                },
                "element_gold": {
                    "type": "integer"
                },
                "element_soil": {
                    "type": "integer"
                },
                "element_water": {
                    "type": "integer"
                },
                "element_wood": {
                    "type": "integer"
                },
                "expansion": {
                    "type": "integer"
                },
                "finesse": {
                    "type": "integer"
                },
                "finesse_add": {
                    "type": "integer"
                },
                "hp": {
                    "type": "integer"
                },
                "hp_add": {
                    "type": "integer"
                },
                "hp_limit": {
                    "type": "number"
                },
                "intellect": {
                    "type": "integer"
                },
                "intellect_add": {
                    "type": "integer"
                },
                "life": {
                    "type": "integer"
                },
                "life_add": {
                    "type": "integer"
                },
                "lucky": {
                    "type": "integer"
                },
                "lucky_add": {
                    "type": "integer"
                },
                "mining_power": {
                    "description": "挖矿力",
                    "type": "number"
                },
                "mood": {
                    "type": "integer"
                },
                "mood_add": {
                    "type": "integer"
                },
                "potential": {
                    "type": "integer"
                },
                "potential_add": {
                    "type": "integer"
                },
                "secret": {
                    "type": "integer"
                },
                "skills": {
                    "type": "integer"
                },
                "strength": {
                    "type": "integer"
                },
                "strength_add": {
                    "type": "integer"
                }
            }
        },
        "models.AuctionHistoryJson": {
            "type": "object",
            "properties": {
                "bid_price": {
                    "type": "number"
                },
                "buyer": {
                    "description": "buyer address",
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "start_at": {
                    "type": "integer"
                },
                "tx_id": {
                    "description": "auction tx id",
                    "type": "string"
                }
            }
        },
        "models.AuctionJson": {
            "type": "object",
            "properties": {
                "claim_waiting": {
                    "type": "integer"
                },
                "current_price": {
                    "description": "current price",
                    "type": "number"
                },
                "current_time": {
                    "type": "integer"
                },
                "duration": {
                    "type": "integer"
                },
                "end_price": {
                    "description": "end price",
                    "type": "number"
                },
                "history": {
                    "description": "auction history",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.AuctionHistoryJson"
                    }
                },
                "land_claim_reward": {
                    "type": "number"
                },
                "last_bid_start": {
                    "type": "integer"
                },
                "last_price": {
                    "type": "number"
                },
                "seller": {
                    "description": "seller address",
                    "type": "string"
                },
                "seller_name": {
                    "description": "seller name",
                    "type": "string"
                },
                "start_at": {
                    "type": "integer"
                },
                "start_price": {
                    "description": "start price",
                    "type": "number"
                },
                "status": {
                    "description": "auction status",
                    "type": "string",
                    "enum": [
                        "[cancel",
                        "finish",
                        "going]"
                    ]
                },
                "token": {
                    "$ref": "#/definitions/util.Token"
                },
                "winner_address": {
                    "description": "winner address",
                    "type": "string"
                },
                "winner_name": {
                    "description": "winner name",
                    "type": "string"
                }
            }
        },
        "models.DappJson": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "cover": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "introduction": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "models.Drill": {
            "type": "object",
            "properties": {
                "chain": {
                    "type": "string"
                },
                "class": {
                    "type": "integer"
                },
                "create_time": {
                    "type": "integer"
                },
                "formula_id": {
                    "type": "integer"
                },
                "formula_index": {
                    "type": "integer"
                },
                "grade": {
                    "type": "integer"
                },
                "land_equip": {
                    "$ref": "#/definitions/models.LandEquip"
                },
                "origin_owner": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "prefer": {
                    "type": "string"
                },
                "token_id": {
                    "type": "string"
                }
            }
        },
        "models.Equipment": {
            "type": "object",
            "properties": {
                "apostle_token_id": {
                    "type": "string"
                },
                "equipment_token_id": {
                    "type": "string"
                },
                "level": {
                    "description": "Level 装备的等级, 强化相关",
                    "type": "integer"
                },
                "object": {
                    "type": "string"
                },
                "origin_owner": {
                    "description": "原主人，给使徒装备后owner会变",
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "prefer": {
                    "type": "string"
                },
                "rarity": {
                    "description": "Rarity 装备的品质, 木剑/钢剑/曙光女神之勇气",
                    "type": "integer"
                },
                "slot": {
                    "description": "装备位置，默认1，目前只有1个位置",
                    "type": "integer"
                }
            }
        },
        "models.EquipmentJson": {
            "type": "object",
            "properties": {
                "apostle": {
                    "$ref": "#/definitions/models.ApostleSample"
                },
                "equipment_token_id": {
                    "type": "string"
                },
                "level": {
                    "type": "integer"
                },
                "object": {
                    "type": "string"
                },
                "origin_owner": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "prefer": {
                    "type": "string"
                },
                "rarity": {
                    "type": "integer"
                }
            }
        },
        "models.LandAuctionHistoryJson": {
            "type": "object",
            "properties": {
                "claim_time": {
                    "type": "integer"
                },
                "create_tx": {
                    "type": "string"
                },
                "final_price": {
                    "type": "number"
                },
                "seller": {
                    "type": "string"
                },
                "winner": {
                    "type": "string"
                }
            }
        },
        "models.LandDataJson": {
            "type": "object",
            "properties": {
                "fire_rate": {
                    "type": "integer"
                },
                "gold_rate": {
                    "type": "integer"
                },
                "has_box": {
                    "type": "integer"
                },
                "is_reserved": {
                    "type": "integer"
                },
                "is_special": {
                    "type": "integer"
                },
                "soil_rate": {
                    "type": "integer"
                },
                "water_rate": {
                    "type": "integer"
                },
                "wood_rate": {
                    "type": "integer"
                }
            }
        },
        "models.LandDetailJson": {
            "type": "object",
            "properties": {
                "auction": {
                    "description": "auction data",
                    "allOf": [
                        {
                            "$ref": "#/definitions/models.AuctionJson"
                        }
                    ]
                },
                "dapp": {
                    "description": "dapp data",
                    "allOf": [
                        {
                            "$ref": "#/definitions/models.DappJson"
                        }
                    ]
                },
                "land_attenuation_at": {
                    "type": "integer"
                },
                "land_data": {
                    "$ref": "#/definitions/models.LandJson"
                },
                "record": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.LandAuctionHistoryJson"
                    }
                },
                "resource": {
                    "$ref": "#/definitions/models.LandDataJson"
                }
            }
        },
        "models.LandEquip": {
            "type": "object",
            "properties": {
                "drill_token_id": {
                    "type": "string"
                },
                "equip_time": {
                    "type": "integer"
                },
                "formula_id": {
                    "type": "integer"
                },
                "index": {
                    "type": "integer"
                },
                "land_token_id": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "owner_name": {
                    "type": "string"
                },
                "prefer": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                }
            }
        },
        "models.LandJson": {
            "type": "object",
            "properties": {
                "apostle_worker": {
                    "description": "apostles who work on land",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ApostleMiner"
                    }
                },
                "auction_start_at": {
                    "type": "integer"
                },
                "cover": {
                    "description": "dapp picture on land",
                    "type": "string"
                },
                "current_price": {
                    "type": "number"
                },
                "district": {
                    "type": "integer"
                },
                "drills": {
                    "description": "Building      *Building       `json:\"building\"`",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.LandEquip"
                    }
                },
                "gx": {
                    "description": "longitude in game map",
                    "type": "integer",
                    "example": 31
                },
                "gy": {
                    "description": "latitude in game map",
                    "type": "integer",
                    "example": 12
                },
                "has_bid": {
                    "description": "Has somebody bid on land",
                    "type": "boolean"
                },
                "id": {
                    "type": "integer",
                    "example": 1
                },
                "introduction": {
                    "description": "only setting by owner",
                    "type": "string",
                    "example": "Hi"
                },
                "land_id": {
                    "type": "integer"
                },
                "land_url": {
                    "description": "dapp picture on land",
                    "type": "string"
                },
                "lat": {
                    "description": "latitude",
                    "type": "integer",
                    "example": -2
                },
                "lon": {
                    "description": "longitude",
                    "type": "integer",
                    "example": -76
                },
                "member_id": {
                    "description": "member id",
                    "type": "integer"
                },
                "mine_last_bid": {
                    "description": "last bid is mine",
                    "type": "boolean"
                },
                "name": {
                    "description": "land name",
                    "type": "string"
                },
                "owner": {
                    "type": "string",
                    "example": "0x9273283412f0A26C2cB99BBD874D54AD18540101"
                },
                "pending_tx": {
                    "type": "string"
                },
                "resource": {
                    "description": "resource on land",
                    "allOf": [
                        {
                            "$ref": "#/definitions/models.LandDataJson"
                        }
                    ]
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "[fresh",
                        "onsell]"
                    ],
                    "example": "fresh"
                },
                "sticker": {
                    "type": "string"
                },
                "token": {
                    "$ref": "#/definitions/util.Token"
                },
                "token_id": {
                    "type": "string",
                    "example": "2a0100010100010100000000000000010000000000000000000000000000000c"
                },
                "token_index": {
                    "description": "token index",
                    "type": "integer"
                }
            }
        },
        "models.LandRank": {
            "type": "object",
            "properties": {
                "count": {
                    "description": "number of lands",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "owner": {
                    "description": "owner address",
                    "type": "string"
                }
            }
        },
        "models.NftMetaData": {
            "type": "object",
            "properties": {
                "attributes": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "description": {
                    "type": "string"
                },
                "external_url": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "models.Score": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "score": {
                    "type": "integer"
                }
            }
        },
        "models.SnapshotAsJson": {
            "type": "object",
            "properties": {
                "score": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Score"
                    }
                }
            }
        },
        "models.SnapshotReq": {
            "type": "object",
            "properties": {
                "addresses": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "network": {
                    "type": "string"
                },
                "options": {
                    "$ref": "#/definitions/models.SnapshotReqOptions"
                },
                "snapshot": {}
            }
        },
        "models.SnapshotReqOptions": {
            "type": "object",
            "properties": {
                "apostle": {
                    "description": "apostle vote score",
                    "type": "integer"
                },
                "chain": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "element": {
                    "description": "element vote score",
                    "type": "number"
                },
                "kton": {
                    "description": "kton vote score",
                    "type": "number"
                },
                "land": {
                    "description": "land vote score",
                    "type": "integer"
                }
            }
        },
        "routes.GinJSON": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {},
                "detail": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "util.Formula": {
            "type": "object",
            "properties": {
                "can_disenchant": {
                    "type": "boolean"
                },
                "class": {
                    "description": "阶层",
                    "type": "integer"
                },
                "grade": {
                    "description": "等级",
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "index": {
                    "type": "integer"
                },
                "issued": {
                    "type": "integer"
                },
                "major_id": {
                    "type": "integer"
                },
                "minor": {
                    "$ref": "#/definitions/util.FormulaMinorToken"
                },
                "name": {
                    "type": "string"
                },
                "objectClassExt": {
                    "type": "integer"
                },
                "pic": {
                    "type": "string"
                },
                "productivity": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    }
                },
                "protection_period": {
                    "type": "integer"
                },
                "sort": {
                    "type": "integer"
                }
            }
        },
        "util.FormulaMinorToken": {
            "type": "object",
            "properties": {
                "LP": {
                    "type": "number"
                },
                "element": {
                    "type": "number"
                }
            }
        },
        "util.Token": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string",
                    "example": "0xb52FBE2B925ab79a821b261C82c5Ba0814AAA5e0"
                },
                "decimals": {
                    "type": "integer",
                    "example": 18
                },
                "symbol": {
                    "type": "string",
                    "example": "RING"
                }
            }
        }
    }
}